@font-face {
    font-family: SolaimanLipi;
    src: url("../fonts/SolaimanLipi_20-04-07.ttf");
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: SolaimanLipi, sans-serif;
}

.top-bar-container {
    background: black;
    font-size: 14px;
    padding: 5px 0;
}

.top-bar-link ul li, .top-bar-link ul li a {
    color: white;
    text-decoration: none;
}

.top-bar-link ul li {
    list-style: none;
    display: inline-flex;
}

.top-bar-link ul li:after {
    content: "|";
    padding: 0 5px;
}

.top-bar-link ul li:last-of-type:after {
    display: none;
}
.top-bar-social-icon a{
    color: white;
    padding: 0 2px;
}
.logo{
    padding: 10px 0;
    max-width: 100%;
}
.mega-menu{
    background: white;
    box-shadow: 0 0 5px silver;
    padding: 10px 5px;
    position: absolute;
    width: 100%;
}
.mega-menu a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 3px 0;
}
.mega-menu a:hover{
    color: red;
}
#search_close{
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
}
.menu a{
    color: black;
    text-decoration: none;
}
.menu a:hover{
    color: red;
}
.mega-menu-bottom {
    border-top: 1px solid silver;
    padding: 15px 0;
}
.menu-container{
    border-bottom:  1px solid silver;
}
.right-menu-items{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.more-menu{
    cursor: pointer;
}
.search{
    cursor: pointer;
}

.news-container a, .news-single-item a{
    color: black;
    text-decoration: none;
    margin: 10px 0;
}
.news-container a h4, .news-single-item a h5{
    margin: 10px 0 ;
    text-align: justify;
}
.news-single-item a h5{
    font-size: 18px;
}